

.bar{
    height: 90px;
}

.cover{
    margin: 15px;
}

.portfolio{
    margin-right: 20px;
    overflow: hidden;
    max-width: 200px;
    color: whitesmoke;
    line-height: 17px;
}

.title{
    font-size: 1rem;
    white-space: nowrap;
}


.artist{
    font-size: 0.8rem;
}

.bi-heart-fill{
    color: #20e666;
}

.bi-heart-fill:hover{
    fill: red;
}

.btn{
    background: transparent;
    border: 0;
    color:  #afafaf;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
}

.btn:hover{
    color: white;
}

.btn:checked{
    background-color: #20e666;
}

.link{
    text-decoration: none;
    color: #afafaf;
}
.link:hover{
    color: whitesmoke;
    text-decoration-line: underline;
}

/*бегущая строка*/

.marquee {
    color: whitesmoke;
    text-decoration: none;
    display: flex;
    position: relative;
    transform: translate(0, 0);
    animation-play-state: paused;
}

.marquee:hover{
    text-decoration-line: underline;
    animation: marquee 20s linear infinite;
    animation-play-state: running;
}

/*Action*/

@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }
    50%{
        transform: translate(-50%, 0);
    }
    100% {
        transform: translate(0, 0);
    }
}