@*<div class="d-flex align-content-stretch align-items-center justify-content-between bar">
    <div class="track d-flex align-items-center">
        <div class="cover">
            $1$example#1#
            <img alt="cover" src="https://phonoteka.org/uploads/posts/2021-05/1620124502_10-phonoteka_org-p-foni-dlya-trekov-10.jpg" height="60"/>
            $1$example#1#
        </div>
        <div class="portfolio d-flex flex-column">
            <div class="title">
                <a href="#" class="marquee">Tokyo Drift - 8d Bassboosted Edition</a>
            </div>
            <div class="artist">
                <a href="#" class="link">Deedashev</a>
            </div>
        </div>
        <button class="btn like">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
            </svg>
        </button>
    </div>
    <div class="player">
        <div class="d-flex flex-row justify-content-between align-items-center" style="color: whitesmoke; width: 200px">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-shuffle" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M0 3.5A.5.5 0 0 1 .5 3H1c2.202 0 3.827 1.24 4.874 2.418.49.552.865 1.102 1.126 1.532.26-.43.636-.98 1.126-1.532C9.173 4.24 10.798 3 13 3v1c-1.798 0-3.173 1.01-4.126 2.082A9.624 9.624 0 0 0 7.556 8a9.624 9.624 0 0 0 1.317 1.918C9.828 10.99 11.204 12 13 12v1c-2.202 0-3.827-1.24-4.874-2.418A10.595 10.595 0 0 1 7 9.05c-.26.43-.636.98-1.126 1.532C4.827 11.76 3.202 13 1 13H.5a.5.5 0 0 1 0-1H1c1.798 0 3.173-1.01 4.126-2.082A9.624 9.624 0 0 0 6.444 8a9.624 9.624 0 0 0-1.317-1.918C4.172 5.01 2.796 4 1 4H.5a.5.5 0 0 1-.5-.5z"/>
                <path d="M13 5.466V1.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384l-2.36 1.966a.25.25 0 0 1-.41-.192zm0 9v-3.932a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384l-2.36 1.966a.25.25 0 0 1-.41-.192z"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-skip-start-fill" viewBox="0 0 16 16">
                <path d="M4 4a.5.5 0 0 1 1 0v3.248l6.267-3.636c.54-.313 1.232.066 1.232.696v7.384c0 .63-.692 1.01-1.232.697L5 8.753V12a.5.5 0 0 1-1 0V4z"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-play-circle-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-skip-end-fill" viewBox="0 0 16 16">
                <path d="M12.5 4a.5.5 0 0 0-1 0v3.248L5.233 3.612C4.693 3.3 4 3.678 4 4.308v7.384c0 .63.692 1.01 1.233.697L11.5 8.753V12a.5.5 0 0 0 1 0V4z"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" viewBox="0 0 487.675 487.675" style="enable-background:new 0 0 487.675 487.675;" xml:space="preserve">
                <g>
                    <path d="M99.687,407.875h-33.6c-13.7,0-24.9-11.2-24.9-24.9v-278.4c0-13.7,11.2-24.9,24.9-24.9h227.3l-29.6,29.6    c-5.3,5.3-5.3,13.8,0,19.1c2.6,2.6,6.1,4,9.5,4c3.5,0,6.9-1.3,9.5-4l52.7-52.7c2.5-2.5,4-6,4-9.5c0-3.5-1.4-7-4-9.5l-52.7-52.7    c-5.3-5.3-13.8-5.3-19.1,0c-5.3,5.3-5.3,13.8,0,19.1l29.6,29.6h-227.2c-28.6,0-51.9,23.3-51.9,51.9v278.5    c0,28.6,23.3,51.9,51.9,51.9h33.7c7.5,0,13.5-6,13.5-13.5S107.187,407.875,99.687,407.875z"/>
                    <path d="M421.687,52.675h-33.7c-7.5,0-13.5,6-13.5,13.5s6,13.5,13.5,13.5h33.7c13.7,0,24.9,11.2,24.9,24.9v278.5    c0,13.7-11.2,24.9-24.9,24.9h-227.3l29.6-29.6c5.3-5.3,5.3-13.8,0-19.1c-5.3-5.3-13.8-5.3-19.1,0l-52.7,52.7c-2.5,2.5-4,6-4,9.5    s1.4,7,4,9.5l52.7,52.7c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4c5.3-5.3,5.3-13.8,0-19.1l-29.6-29.6h227.3c28.6,0,51.9-23.3,51.9-51.9    v-278.5C473.587,75.875,450.287,52.675,421.687,52.675z"/>
                </g>
            </svg>
        </div>
        <div class="progress-container">
            <span>0:49</span>
            <div class="progress-bar">
                <div class="progress"></div>
            </div>
            <span>3:15</span>
        </div>
    </div>
    <div class="other">
        <i class="fas fa-list-ul"></i>
        <i class="fas fa-desktop"></i>
        <div class="volume">
            <i class="fas fa-volume-down"></i>
            <div class="progress-bar">
                <div class="progress"></div>
            </div>
        </div>
    </div>
</div>*@
<div class="music-player">
    <div class="song-bar">
        <div class="song-infos">
            <div class="image-container">
                <img alt="cover" src="~/img/cover.jpg" height="60"/>
            </div>
            <div class="song-description">
                <p class="title">
                    <a href="#" class="marquee">Tokyo Drift - 8d Bassboosted Edition</a>
                </p>
                <a href="#" class="artist">Deedashev</a>
            </div>
        </div>
        <div class="icons">
            <button class="like">
                <i class="bi bi-heart" id="like"></i>
            </button>
        </div>
    </div>

    <div class="progress-controller">
        <div class="control-buttons">
            <button class="shuffle">
                <i class="fas fa-random"></i>
            </button>
            <button class="step-back">
                <i class="fas fa-step-backward"></i>
            </button>
            <button class="play">
                <i class="play-pause fas fa-play" id="play-pause"></i>
            </button>
            <button class="step_forward">
                <i class="fas fa-step-forward"></i>
            </button>
            <button class="undo-alt">
                <i class="fas fa-undo-alt"></i>
            </button>
        </div>
        <div class="progress-container">
            <span id="current">0:49</span>
            <div class="progress-bar">
                <div class="progress"></div>
            </div>
            <span id="duration">3:15</span>
        </div>
    </div>
    <div class="other-features">
        <i class="fas fa-list-ul"></i>
        <div class="volume-bar">
            <i class="fas fa-volume-down"></i>
            <div class="progress-bar">
                <div class="progress"></div>
            </div>
            <div class="toggle"></div>
        </div>
    </div>
</div>