<div class="container mt-5 ms-4" style="flex-wrap: wrap; display: flex; flex-direction: column">
    <h1><b>Change your password</b></h1>
    <div class="form">
        <form id="change-password">
            <div class="form-field">
                <label for="password">Current password</label><br/>
                <input type="password" placeholder="current password" required id="password" />
            </div>
            <div class="form-field">
                <label for="new-password">New password</label><br/>
                <input type="password" placeholder="new password" required id="new-password"/>
            </div>
            <div class="form-field">
                <label for="new-password-confirm">Repeat new password</label><br/>
                <input type="password" placeholder="repeat" required id="new-password-confirm"/>
            </div>
            <div style="color: red" id="result"> &nbsp; </div>
            <button type="submit" class="form-button login-button" id="sendButton">SET NEW PASSWORD</button>
            <button type="reset" class="cancel-form-button">
                <div class="spotify-form-text">cancel</div>
            </button>
        </form>
    </div>
    <br/>
</div>
<script>
let form = document.getElementById('change-password');
form.addEventListener("submit", async function(event) {
    event.preventDefault();
    await getClaims().then( async claims => {
        const changePasswordUrl = "https://localhost:7030/api/profile/password/change";
        const changeData = {
            userId: claims['id'],
            oldPassword: event.target['password'].value,
            newPassword: event.target['new-password'].value
        };
        try {
            await changePasswordAsync(changePasswordUrl, changeData)
            .then((data) => {
                console.log(data);
                document.querySelector("#result").appendChild(data);
            });
        }
        catch (error){
            console.log('wrong password');
            document.getElementById('result').innerHTML = "ошибка";
        }
        
    });
})

async function changePasswordAsync (url, data) {
    const response = await fetch( url, {
        method: 'POST',
        headers : {
            'Content-Type': 'application/json'
            //'Authorization': `Bearer ${getToken()}`
        },
        body: JSON.stringify(data)
    });
    
    if (response.status !== 200){
        throw new Error();
    }
    
    return await response.json();
}
</script>
