<div class="container mt-5 ms-4" style="flex-wrap: wrap; display: flex; flex-direction: column">
    <h1><b>Change your password</b></h1>
    <div class="form">
        <form id="edit-profile">
            <div class="form-field">
                <label for="email">Email</label><br/>
                <input value="" type="email" required id="email" autofocus="autofocus"/>
            </div>
            <div class="form-field ">
                <label for="new-email">Confirm password</label><br/>
                <input type="password" class="" placeholder="confirm password" required minlength="8" id="new-email"/>
            </div>
            <div class="form-field ">
                <label for="birth">Date of birth</label><br/>
                <input type="date" value="10/12/2001" placeholder="new password" required minlength="8" id="birth"/>
            </div>
            <div class="form-field ">
                <label>Country</label><br/>
                <select>
                    <option value="0">Russia</option>
                    <option value="1">Ukraine</option>
                    <option value="2">Usa</option>
                    <option value="3">Greece</option>
                </select>
            </div>
            <hr style="width: 70%; margin-top: 3%"/>
            <div class="flex-lg-row">
                <button type="submit" class="form-button" id="sendButton">SET NEW PASSWORD</button>
                <button type="reset" class="cancel-form-button" id="reset">
                    <div class="spotify-form-text">X</div>
                </button>
            </div>
        </form>
    </div>
    <br/>
</div>
<script>


</script>