<div class="container mt-5 ms-4" style="flex-wrap: wrap; display: flex; flex-direction: column">
    <h1><b>Change your password</b></h1>
    <div class="form">
        <form id="change-password">
            <div class="form-field">
                <label for="password">Current password</label><br/>
                <input type="password" placeholder="current password" required id="password" />
            </div>
            <div class="form-field">
                <label for="new-password">New password</label><br/>
                <input type="password" placeholder="new password" required id="new-password"/>
            </div>
            <div class="form-field">
                <label for="new-password-confirm">Repeat new password</label><br/>
                <input type="password" placeholder="repeat" required id="new-password-confirm"/>
            </div>
            <br/>
            <button type="submit" class="form-button login-button">SET NEW PASSWORD</button>
            <div class="cancel-form-button">
                <div class="spotify-form-text">cancel</div>
            </div>
        </form>
    </div>
    <br/>
</div>