@{
    Layout = "MainLayout";
    ViewData["Title"] = "Artist";
}

<head>
    <link rel="stylesheet" href="~/css/card.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/play-button.css" asp-append-version="true"/>
</head>
<div class="content-spacing">
    <div class="artist-header">
        <div>&nbsp;</div>
        <div class="artist-info">
            <div class="verified-icon"><span>Verified Artist</span></div>
            <div class="artist-name">John Frusciante</div>
        </div>
    </div> 
    <div class="artist-body">
        <div class="artist-interaction">
            <div class="play-button"></div> @*  can be made activated with class "active"  *@
            <div class="follow-button">FOLLOW</div>
        </div>
        <div class="artist-releases">
            <div class="content-header">
                <a href="#" class="content-type">Albums</a>
                <a href="#" class="see-discography">SEE DISCOGRAPHY</a>
            </div>
            <div class="content-body" id="albums">
            </div>
            <div class="content-header">
                <a href="#" class="content-type">Singles and EPs</a>
                <a href="#" class="see-discography">SEE DISCOGRAPHY</a>
            </div>
            <div class="content-body" id="singles-and-eps"></div>
        </div>
    </div>
</div>

<script src="/js/cards.js"></script>
@* CARDS MOCKS and EXAMPLES of USAGE also in src*@
<script>
    document.querySelector("#albums")
        .appendChild(new Card("TESTS-ARTIST-ALBUM.jpg", "Title", "2013", "Album", 1)
        .render());
    document.querySelector("#albums")
        .appendChild(new Card("TESTS-ARTIST-ALBUM.jpg", "Title", "2014", "Album", 2)
        .render());
    document.querySelector("#singles-and-eps")
        .appendChild(new Card("TESTS-ARTIST-ALBUM.jpg", "Title", "2012", "Single", 3)
        .render());
    document.querySelector("#singles-and-eps")
        .appendChild(new Card("TESTS-ARTIST-ALBUM.jpg", "Title", "2012", "EP", 4)
        .render());
    document.querySelector("#singles-and-eps")
        .appendChild(new Card("TESTS-ARTIST-ALBUM.jpg", "Title", "", "PLAYLIST", 5, "USER")
        .render());
    document.querySelector("#singles-and-eps")
        .appendChild(new Card("", "Title", "", "", 6, "")
        .render());    
</script>