@{
    Layout = "MainLayout";
    ViewData["Title"] = "Artist";
}
<div class="content-spacing">
    <div class="artist-header">
        <div>&nbsp;</div>
        <div class="artist-info">
            <div class="verified-icon"><span>Verified Artist</span></div>
            <div class="artist-name">John Frusciante</div>
        </div>
    </div> 
    <div class="artist-body">
        <div class="artist-interaction">
            <div class="play-button"></div> @*  can be made activated with class "active"  *@
            <div class="follow-button">FOLLOW</div>
        </div>
        <div class="artist-releases">
            <div class="albums">
                <div class="content-header">
                    <a href="#" class="content-type">Albums</a>
                    <a href="#" class="see-discography">SEE DISCOGRAPHY</a>
                </div>
            </div>
            <div class="singles-eps">
                <div class="content-header">
                    <a href="#" class="content-type">Singles and EPs</a>
                    <a href="#" class="see-discography">SEE DISCOGRAPHY</a>
                </div>
            </div>
        </div>
    </div>
</div>